.row
  .container.col-md-3.col-md-offset-4
    %h2.center-text Account Login
    = form_for :login do |l|
      %label.sr-only{:for => "inputEmail"} Email address
      = l.text_field :email, :placeholder => "confession@bear.email", :class => "form-control"
      %label.sr-only{:for => "inputPassword"} Password
      = l.password_field :password, :placeholder => "secret password", :class => "form-control"
      = l.submit "Log In", :class => "btn btn-lg btn-primary btn-block"
  .glyphicon.glyphicon-bullhorn
    = link_to " Need Account?", signup_path, :id => "sign-up"