%h1 Login
= form_for :login do |l|
	.field
		= l.label :email
		%br/
		= l.text_field :email
	.field
		= l.label :password
		%br/
		= l.password_field :password
	-# .field
	-# 	= l.label :remember_me do
	-# 		= l.check_box :remember_me
	-# 		%div Remember me?
	.actions
		= submit_tag "Log In"
= link_to "Need Account?", signup_path