!!!
%html
	%head
		%title Confession Bear
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		=favicon_link_tag 'favicon.ico'
		%link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans", :rel => 'stylesheet", :type => "text/css"}

		%link{:href => "http://fonts.googleapis.com/css?family=Raleway:500", :rel => "stylesheet", :type => "text/css"}

	%body
		= render "layouts/nav"
		= yield 
		= render "layouts/footer"

