%ul
  - @user.errors.full_messages.each do |e|
    %li= e
= form_for @user do |u|
  .field
    = u.label :username
    %br/
    = u.text_field :username
  .field
    = u.label :email
    %br/
    = u.text_field :email
  .field
    = u.label :password
    %br/
    = u.password_field :password
  .field
    = u.label "Confirm password"
    %br/
    = u.password_field :password_confirmation
  .actions
    = u.submit "Submit"