%h1 Edit Profile
#user-form
	= image_tag @user.image.url(:thumb) if @user.image.url.present?
	%h4 Upload Image
	= form_for(@user, :html => {:multipart => true}) do |f|
		= f.file_field :image
		= f.submit "Upload Image"
%div 
	%div= render 'form'

= link_to "Back", user_path