.row
	.col-md-offset-4
		.center-block
			= image_tag current_user.image.url(:thumb) if current_user.image.url.present?
		.center-block	
			%h4 Upload Image
			= form_for(current_user, :html => {:multipart => true}) do |f|
				= f.file_field :image
				= f.submit "Update", :id => "upload-pic"
		%div 
			%div= render 'form'
		.center-block
			%h4= link_to "Delete Account", current_user, method: :delete, alert: "Are you sure you want to delete your account?"

			%button= link_to "Back", user_path