%h1 Edit Profile
#user-form
	= image_tag @image.url(:thumb) if @image.url.present?
	%h4 Upload Image
	= form_for(@user, :html => {:multipart => true}) do |f|
		= f.file_field :image
		= f.submit "Upload Image"
%div 
	%div= render 'form'
%h4= link_to "Delete Account", @user, method: :delete, alert: "Are you sure you want to delete your account?"

= link_to "Back", user_path