%div
	- if current_user.image.url.present?
		= image_tag current_user.image.url(:thumb) 
%ul 
	- current_user.confessions.each do |myc|
		%li
			%strong= myc.title
			%br
			= myc.story
			%br
			= link_to "Edit", edit_confession_path(myc)
			-# - if confession.story.length <= 20
			= link_to "Delete", myc, method: :delete, data: {confirm: "Are you sure?"}
		%div
			= link_to "See Comments", confession_path(myc)

