#user-form
	= image_tag current_user.image.url(:thumb) if current_user.image.url.present?
- if current_user.confessions.count === 0
	%p You need to confess. The world depends on it!
= render partial: 'confessions/form'
%ul 
	- current_user.confessions.each do |myc|
		%li
			%strong= myc.title
			%br
			= myc.story
			%br
			%div
				= myc.date_confessed 
			= link_to "Edit", edit_confession_path(myc)
			= link_to "Delete", myc, method: :delete, data: {confirm: "Are you sure?"}
			%section
				%div
					%div
						- if myc.comments.size > 0
							%div
								= link_to "#{myc.comments.count} Comments", confession_path(myc)
						-	else
							%div 0 Comments