.row
  .col-md-4.col-md-offset-4
    = form_for(@confession) do |myc|
      - if @confession.errors.any?
        #error_explanation
          %h2
          = pluralize(@confession.errors.count, "error")
          prohibited this confession from being saved:
      .field
        = myc.label :title 
        %br/
        = myc.text_field :title
      .field
        = myc.label :story
        %br/
        = myc.text_area :story, size: "50x5"
      .actions
        = myc.submit "Submit"