%div
	%section
		= render "confessions/form"
.row
	.col-md-6.col-md-offset-4
		%div
			%button
				= link_to "Clutter Free?", new_confession_path
			%button
				= link_to "Back", profile_path

		%section
			%div
				%h1 These are their confessions...
			%div
				%ul
					- @confessions.each do |myc|
						%li
							%h3= myc.title
							%p= myc.story
							Date Confessed: #{myc.date_confessed}
							%div
							= link_to "#{myc.comments.count} Comments", confession_path(myc)
							- if myc.user === current_user
								%div
									= link_to "Edit", edit_confession_path(myc)
									= link_to "Delete", myc, method: :delete, data: {confirm: "Are you sure?"}