%h1 Confessions
%ul
  - @confessions.each do |c|
    %li
      %strong= c.title
      \ #{c.story}
      = link_to "Edit", edit_confession_path(c)
      = link_to "Delete", c, method: :delete, data: {confirm: "Are you sure?"}

= link_to "New confession", new_confession_path