%h1 Confessions Index Page
%div
	-# = render 'form'
	%br/
	%button= link_to "Clutter Free?", new_confession_path

%ul
	- @confessions.each do |myc|
		%li
			%strong= myc.title
			%br
			-# = confession.date_confessed
			= myc.story
			- if myc.user == current_user
				%br
				= link_to "Edit", edit_confession_path(myc)
				-# - if confession.story.length <= 20
				= link_to "Delete", myc, method: :delete, data: {confirm: "Are you sure?"}
			
		%section
			= render :partial => "comments/form", :locals => { :myc => myc }
-# I need to add a link or box to comment on these confessions 