%h1 Confession Comments

%strong= @confession.title
%br
= current_user.confession.story
%br
= link_to "Edit", edit_confession_path
= link_to "Delete", confession, method: :delete, data: {confirm: "Are you sure?"}
%section
	%h3 Comments
	%div
		%p
			= comment.reply
			= comment.current_user.try(:username)
%section
	%h3 Add a Comment
	= form_for [@confession, @comment] do |field|
	%div
		= field.fields_for :user_attributes do |a|
			%div
				= a.label :username
				= a.text_field :username
	%div
		= field.label :reply, "Comment:"
		= field.text_area :reply
	= field.submit "Add Comment"
  
= link_to 'Back', confessions_path