%h1 Confession Comments
%section
	%div
		%strong
			= @confession.title
		%br
		= @confession.story
		%br 
		Confessed: #{@confession.date_confessed}
		%div
		= link_to "Edit", edit_confession_path
		= link_to "Delete", @confession, method: :delete, data: {confirm: "Are you sure?"}
		-# user can add a comment right on this text_area
		-# Comments go below
	%div
		%button= link_to 'Back', profile_path

	%section
		%div
			= form_for([@confession, @comment]) do |f|
				= f.label :reply
				= f.text_area :reply
				= f.submit
		= render 'comments/comment'
		= render "comments/comment"