%h1 Confession Comments

%div
	%strong
		= @confession.title
	%br
	= @confession.story
	%br
	= link_to "Edit", edit_confession_path
	= link_to "Delete", @confession, method: :delete, data: {confirm: "Are you sure?"}
-# user can add a comment right on this text_area
%section
	%h3 Add new comment
	= link_to 'Back', confessions_path
	= form_for [@confession] do |f|
		%div
			= f.fields_for :user_attributes do |c|
				%div
					-# = c.label @user.username
		-# %div
		-# 	= f.label :reply, "Comment:"
		-# 	= f.text_area :reply
		-# = f.submit "Add comment"
-# Comments go below
%section
	%h3 Comments
	%div
		%p
			-# = current_user.confession.comment.reply
			-# = current_user.confession.comment.current_user.try(:username)

